name: Reformat
run-name: Reformat on ${{ github.event.pull_request.title }}

on:
  pull_request:
    paths-ignore:
      - 'CHANGELOG.md'
      - 'package.json'

jobs:
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0

      - name: Prettify Code
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write **/*.{ts,md,json}
          only_changed_pr: true
